@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Default Page Setup */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Root Variables */
:root {
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}
/* Custom Scroll Bar */
html::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
body {
    background-color: var(--text-color);
    color: var(--bg-color);
}
section {
    padding: 4.5rem 0 1.5rem;
}
/* ////////////////////// End Of default variables///////////////////////// */
/* Navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
}
header.shadow {
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
header.shadow .navbar a {
    color: var(--text-color);
}
header.shadow .logo {
    color: var(--text-color);
}
.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}
.navbar {
    display: flex;
    column-gap: 5rem;
}
.navbar li {
    position: relative;
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbar .active::after {
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 100000;
    display: none;
}
.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover {
    background: #fa1216;
}
/* ////////////////////// End Of Navbar Styling ///////////////////////// */
/* HOME SECTION STYLING */
.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(2, 3, 7, 0.4);
}
.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background-color: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
.home-text {
    z-index: 1000;
    padding: 0 150px;
}
.home-text span {
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
}
.home-text h1 {
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.play {
    position: absolute;
    right: 4rem;
    bottom: 10%;
}
.play .bx {
    background: var(--bg-color);
    padding: 12px 10px 10px 13px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgba(2, 3, 7, 0.4);
    color: var(--main-color);
}
.play .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
/* ////////////////////// End Of Home Section Styling ///////////////////////// */
/* Movies SECTION STYLING */
.heading {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}
.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}
.box span {
    font-size: 13px;
}
.coming-container {
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box-img img:hover {
    transform: translateY(0);
}
.coming-container .box {
    width: 100px;
}
/* ////////////////////// End Of Movies Section Styling ///////////////////////// */
/*  Newsletter & footer Styling */
.newsletter {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.newsletter h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.newsletter form {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.newsletter form input {
    border: none;
    outline: none;
}
.newsletter form .email {
    width: 280px;
}
.newsletter form input::placeholder {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}
.newsletter .btn {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.footer {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx {
    background: var(--bg-color);
    padding: 2px;
    font-size: 2rem;
    border-radius: 50%;
    border: 4px solid rgb(2, 3, 7, 0.4);
    color: var(--main-color);
}
.social .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s all linear;
}
.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
}
/* ////////////////////// End Of Newsletter & footer Section Styling ///////////////////////// */
/*  Responsive Design */
@media (max-width: 1080px) {
    .home-text {
        padding: 0 100px;
    }
}
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
    .home-text {
        padding: 0 4%;
    }
    .home-text h1 {
        font-size: 3rem;
    }
}
@media (max-width: 774px) {
    header {
        padding: 12px 4%;
    }
    #menu-icon {
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon {
        color: var(--text-color);
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
        transition: 0.2s all linear;
        text-align: center;
    }
    .navbar a {
        width: 100%;
        color: var(--text-color);
    }
    .navbar a:hover {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
    }
    .navbar a::after {
        display: none;
    }
    .navbar.active {
        top: 100%;
    }
    .home-text h1 {
        font-size: 2.4rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}
@media (max-width: 472px) {
    .newsletter form .email {
        width: auto;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}
@media (max-width: 370px) {
    header {
        padding: 6px 4%;
    }
    .home-text h1 {
        font-size: 1.7rem;
    }
    .play {
        right: 2rem;
        bottom: 8%;
    }
    .play .bx {
        padding: 7px;
    }
    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
    .box .box-img {
        height: 240px;
    }
}
.times {
    display: flex;
    flex-wrap: wrap;
}
.times .time {
    background-color: rgb(187, 187, 187);
    color: var(--text-color);
    padding: 0.5rem;
    font-size: 10px;
    font-weight: 800;
    margin: 0.5rem;
    margin-left: 0;
    cursor: pointer;
    transition: 0.3s;
}
.times .time:hover {
    background-color: #fff;
}

.alert {
    background-color: var(--main-color);
    position: relative;
    top: 80px;
    width: 250px;
    border-radius: 10px;
    z-index: 999999999;
    text-align: center;
    font-size: 18px;
}